doctype html
html(lang="zh")
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize/css/materialize.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet" type="text/css" href="stylesheets/materialize/css/blur.css")
    meta(name="viewpoint" content="width=device-with, initial-scale=1.0")

block body
  body
    block content
    script(type="text/javascript" src="stylesheets/materialize/js/materialize.min.js")
  //  script(type="text/javascript" src="javascripts/validate.js")
//footer.page-footer
    .container
    .footer-copyright
        .container 2019 All rights reserved.